
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /AASWJobBoard/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /AASWJobBoard/index.php [L]
</IfModule>

#Protect sensitive files
<Files wp-config.php>
  order allow,deny
  deny from all
</Files>

#Block PHP execution in /wp-content/uploads/
<Files *.php>
  deny from all
</Files>

# END WordPress